doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="/assets/css/dashstyle.css")
    style.
      
  body
    .container
      h1 This is dashbaord
      .content
        h2 Welcome: 
          span= user
        a(href="/admin/logout") Logout
      .posts 
        include postCard.pug